.container{
    flex: 5;
    /* background: red; */
    font-family: "Inter", sans-serif;
    height: 100vh;
    overflow: auto;
}

.main{
    display: flex;
}

@media screen and (max-height: 1024px) {
    .container{
        height: 1024px;
        overflow: auto;
    }
  }

@media screen and (max-width: 1000px) {
    .main{
        display: block;
    }
}