.container{
    border-radius: 12px;
    border: 2px solid rgba(242, 244, 247, 1);
    max-width: 793px;
    padding: 16px;
    margin: 24px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    color: rgba(52, 64, 84, 1);
}

.links{
    display: flex;
    gap: 8px;
    margin-top: 24px;
    flex-wrap: wrap;
}
.link{
    width: 101px;
    height: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid rgba(249, 250, 251, 1);
    background: rgba(252, 252, 253, 1);
    border-radius: 8px;
}

.linkIcon{
    width: 24px;
    height: 24px;
    padding: 4px;
    color: rgba(102, 112, 133, 1);
}


@media screen and (max-width: 1100px) {
    .links{
        gap: 5px;
    }
}

@media screen and (max-width: 600px) {
    .container{
        margin: 12px;
    }
    .links{
        display: flex;
        gap: 8px;
    }
}